@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@300&family=Arimo&family=Cabin&family=DM+Sans:opsz@9..40&family=Exo+2:wght@300&family=Kanit:wght@200;300;400&family=Lexend:wght@300&family=Nunito&family=Poppins:wght@300;500&family=Rubik&family=Signika:wght@300&family=Sora&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  background: #343541;
  color: #C5C5D2;
  font-family: "Poppins", sans-serif;
}

.App {
  min-height: 100vh;
  display: flex;
}

.sideBar {
  flex: 3;
  border-right: 1px solid rgb(100, 100, 100);
}

.main {
  flex: 9;
}

.logo {
  margin-right: 1rem;
}

.brand {
  font-size: 2rem;
}

.upperSide {
  padding: 2.5rem;
  border-bottom: 1px solid rgb(100, 100, 100);
  height: 70%;
}

.upperSideTop {
  display: flex;
  align-items: center;
  margin-bottom: 2.5rem;
}

.addBtn {
  height: 2rem;
  padding-right: 1rem;
}

.midBtn {
  background: transparent;
  border: 1px solid hsla(0,0%,100%,.2);
  color: #C5C5D2;
  padding: 1.5rem;
  font-size: 1.5rem;
  width: 25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 3rem;
  border-radius: 0.5rem;
}

.query {
  display: flex;
  align-items: center;
  background: transparent;
  color: rgba(222, 222, 222, 1);
  padding: 1.5rem;
  width: 25rem;
  margin: 1rem auto;
  border-radius: 0.5rem;
  border: 1px solid rgba(98, 98, 98, 1);
}

.query > img {
  margin-right: 2rem;
  object-fit: cover;
  height: 1.5rem;
}

.lowerSide {
  padding: 2rem;
}

.listItems {
  margin: 1rem;
  display: flex;
  align-items: center;
  font-size: 1.3rem;
}

.listItemsImg {
  margin: 1rem;
  padding-right: 1rem;
}

.listIems:nth-child(1) > .listItemsImg {
  margin-right: 0.5rem;
}

.listIems:nth-child(3) > .listItemsImg {
  margin-right: 0.75rem;
}

.main {
  min-height: calc(100vh - 14rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 6rem 10rem;
  margin-bottom: 0;
}

.chats {
  overflow: hidden;
  overflow-y: hidden;
  scroll-behavior: smooth;
  width: 100%;
  max-width: 70rem;
  height: calc(100vh- 17rem);
}

.chat {
  margin: 1rem;
  padding: 2rem 3rem;
  font-size: 1.2rem;
  display: flex;
  align-items: flex-start;
  text-align: justify;
}

.chatFooter {
  margin-top: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
}

.inp {
  padding: 0.5rem;
  background: #40414F;
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  width: 68rem;
}

.inp > input {
  width: calc(100% - 3rem);
  outline: none;
  padding: 1.25rem;
  color: #C5C5D2;
}

.inp > input,
.send {
  background: transparent;
  border: none;
}

.chatFooter > p {
  margin: 2rem 0;
}

.chatImg {
  object-fit: cover;
  width: 3.5rem;
  margin-right: 2rem;
  border-radius: 0.5rem;
}

.bot{
  background-color: #40414F;
  width: fit-content;
  border-radius: 0.5rem;
}